/*  SERENITY 4.3.4 强制修复截图高度  */
div[class*="screenshot"],
div[class*="image"],
div.screenshot,
div.image,
div.step-result-screenshot,
div.step-screenshot,
div.screenshotBox,
div.screenshotContainer,
img.screenshot-image {
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    overflow: visible !important;
    display: block !important;
}

/* 强制覆盖内联样式：核心！！ */
div[style*="height"] {
    height: auto !important;
}